{{#if: isInitialized()}}
<section class="content-header">
    <h1>
        My issues
    </h1>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">My personal issues</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Issue ID</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Assignee</th>
                                <th>Reporter</th>
                                <th>Priority</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: allIssues">
                            <tr>
                                <td><a href="/#add-issue">{{$data.id}}</a></td>
                                <td>{{$data.title}}</td>
                                <td><span class="label label-info">{{$data.status}}</span></td>
                                <td><a href="pages/examples/profile.html">{{$data.assignee.username}}</a></td>
                                <td><a href="pages/examples/profile.html">{{$data.reporter.username}}</a></td>

                                <td>
                                    {{#if: $data.priority == 'High'}}
                                    <span class="label label-danger">{{$data.priority}}</span>
                                    {{/if}}
                                    {{#if: $data.priority == 'Medium'}}
                                    <span class="label label-warning">{{$data.priority}}</span>
                                    {{/if}}
                                    {{#if: $data.priority == 'Low'}}
                                    <span class="label label-success">{{$data.priority}}</span>
                                    {{/if}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
{{/if}}

{{#ifnot: isInitialized()}}
<p style="padding-top: 50px; text-align: center;">Loading...</p>
{{/if}}