<div class="login-box">
    <div class="login-logo">
        <a href="/#"><b>Co</b>lab</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">We'll send you an email with a link to change your password</p>
        <form action="javascript: void(0)">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Retrieve</button>
                </div><!-- /.col -->
            </div>
        </form>

    </div><!-- /.login-box-body -->
</div>