<section class="content-header">
    <h1>
        Add issue
    </h1>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create an issue</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <input class="form-control" placeholder="Title" data-bind="value: title" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Assignee" data-bind="value: assignee" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Reporter" data-bind="value: reporter" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Status" data-bind="value: status" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Priority" data-bind="value: priority" />
                    </div>
                    <div class="form-group">
                        <textarea style="width: 100%; height: 300px;" data-bind="value: description" placeholder="Description"></textarea>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary" data-bind="click: addIssue"><i class="fa fa-send"></i> Create</button>
                    </div>
                </div><!-- /.box-footer -->
            </div><!-- /. box -->
        </div>
    </div><!-- /.row -->
</section>