<div class="wrapper">
    <div data-bind="component: { name: 'top-menu' }">
    </div>

    <div data-bind="component: { name: 'left-sidebar' }">
    </div>

    <div id="page" class="content content-wrapper" data-bind="component: { name: route().page, params: route }">
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Anything you want
        </div>

        <strong>Copyright &copy; 2015 <a href="#">Colab</a>.</strong> All rights reserved.
    </footer>

    <div data-bind="component: { name: 'right-sidebar' }">
    </div>

    <div class='control-sidebar-bg'></div>
</div>